*{
    box-sizing: border-box;
}

body{
    font-size: 20px;
    min-height: 100vh;
    overflow: hidden;
}


.calculator {
    display: inline-block;
    margin-top: 10%;
    margin-left: 35%;
    width:400px;
    padding: 20px;
    border-radius: 1px;
    border: 1px solid black;
    box-shadow: 5px 5px 8px #726565;
}

#input{
    height: 60px;
    overflow-x: auto;
    margin: 5px auto;
    border: 1px solid;
    padding: 10px;
    text-align:right;
    border-radius: 3px;
    box-shadow: 5px 5px 8px #888888;
}


.operators div{
    width:80px;
    display: inline-block;
    border: 1px solid;
    margin: 20px 4px 10px 0;
    padding: 10px;
    box-shadow: 5px 2px 8px #888888;
    text-align: center;
    margin-right: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.operators div:hover{
    background-color:rgb(214, 210, 210);
}

.operators div:active{
    font-weight: bold;
}

#left-panel{
    display: inline-block;
}
.numbers div{
    width:80px;
    display: inline-block;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px 8px #888888;
    text-align: center;
    margin-right: 5px;
    margin-top: 8px;
    border-radius: 3px;
    cursor: pointer;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.numbers div:hover{
    background-color:rgb(214, 210, 210);
}

.numbers div:active{
    font-weight: bold;
}

div.equal{
    display:inline-block;
    vertical-align: top;
    width: 21.5%;
    border: 1px solid;
    border-radius: 3px;
    color:white;
    background-color: rgb(15, 101, 176);
    box-shadow: 5px 5px 8px #e6dfdf;
    text-align: center;
    padding: 90px 10px;
    margin: 8px 6px 10px 0;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

div.equal:hover{
    background-color:rgb(5, 56, 101);
    color:white;
}

div.equal:active{
    font-weight: bold;
}